#cloud-config
users:
  - name: ansible
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC+ckjJTkQxDq4WwGBjiFA/eEiHU6b6hLy/O+Db5MPLRSxZMswQfjyy6V8pAxRhzA5XOeteld/Ae74fjJRFsUKd+p2EaqmlMW6NrpQmyaSL2dMMTdbqAkc0pnqK1ij2Ym04euJDvG7G/TDx7VBLtomD2jeeVfPePLB7xs4Ea5TG0zqrJT7TERB2GK1cV26JKegcbSmcQhShQn31kvmakzSbhQvr+4ScoWZm2wCq+n8PeBqJOE77vovqGjBbcEPpwbewJR4sblNaPOKpThjE47Xl/jEq/DpQM+CSMThlKgxysXwGOkq1CYeAsQDANE+sweMoH89W3/cvW9s+g97TdFAMp+PywdYYbfTqerCk7KB+W5i17QLi0iTbyCGaKfIvLrwM83l+l4Fo7IGSLA1XCaDDgcZkyspZe2RXAG1wg8lQloenSBY5MRT4/fT7cwFnsTLa2rMfgO3myS17qcsT2xb5fyLGGvYBtaaezstQjq56WzvlwXxQMokp1LTScTwIatqIYCQB18NoWUU2gb1tC3xZiHhwujwg+8lHEZh71/sdouAp+5uht1bf6V3VdYvzYR4ZkskpwQinLnZ/s66lipXNoMPdNFOJtk3EFB9by5HNvQ+gLYfVdOE5jtlovsDEOVX3BMSr64h2zhJL0PyCpNwx6e4UEFSHiNWlR2vlrfElMw== otrsl@DESKTOP-PDUGMPM